.Gif {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
    padding: 32px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
}

.Gif img {
    object-fit: contain;
}

.image-gif:hover {
    cursor: pointer;
}

p {
    font-size: 25px;
}

.btn-volver {
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 10px;
    margin-top: 10px;
    font-size: 30px;
    background-color: rgb(121, 214, 217);
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}