.App-title {
  color: #68eee7f3;
  max-height: 10px;
}

.title-populares {
  color: #f0f0f2f3;
  max-height: 10px;
}

.App-logo {
  object-fit: contain;
  height: 250px;
}

.btn-buscar {
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 3px;
  margin-top: 10px;
  font-size: 20px;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

.btn-buscar:hover {
  cursor: pointer;
}

.input-keyword {
  height: 2vh;
  font-size: 15px;
}

.popular-gifs {
  color: #90d4e9f3;
}

.popular-gifs-links {
  color: #90d4e9f3;
}

.form-keyword {
  display: flex;
  flex-direction: column;
}